<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arman Firma Usługowa</title>
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://unpkg.com/two-up-element@1.0.1/dist/two-up.js"></script>
    </head>
    <body>
        <header>
            <div class="logo"> <a href="/"><img src="/images/armanLogo.jpg"></a></div>
            <nav  id="menu">
                <ul>
                    <li class="<%= active %>"><a href="/">Strona Główna</a></li>
                    <li class="<%= active %>"><a href="/about">O nas</a></li>
                    <li class="<%= active %>"><a href="/services">Usługi</a></li>
                    <li class="<%= active %>"><a href="/realizations">Realizacje</a></li>
                    <li class="<%= active %>"><a href="/contact" class="btn">Kontakt</a></li>
                </ul>
            </nav>
        </header>