<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arman – 30 lat doświadczenia w budownictwie | Układanie płytek i remonty</title>
    <meta name="description" content="Arman – 30 lat doświadczenia w usługach budowlanych i wykończeniowych. Profesjonalne układanie płytek, remonty i aranżacje wnętrz. Sprawdź naszą ofertę!">
    <meta name="keywords" content="glazurnik Kraków,Mielec,Rzeszów,Tarnobrzeg, układanie płytek, remonty, wykończenia wnętrz, firma budowlana, 30 lat doświadczenia">
    <meta property="og:title" content="Arman – 30 lat doświadczenia w budownictwie | Profesjonalne remonty">
    <meta property="og:description" content="Zaufaj ekspertom z 30-letnim doświadczeniem! Układanie płytek, remonty i wykończenia wnętrz na najwyższym poziomie.">
    <meta property="og:image" content="http://www.arman-mielec.pl/images/armanLogo.jpg">
    <meta property="og:url" content="http://www.arman-mielec.pl">
    <meta property="og:type" content="website">



    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://unpkg.com/two-up-element@1.0.1/dist/two-up.js"></script>
</head>

<body>
    <header>
        <div class="logo"> <a href="/"><img src="/images/armanLogo.jpg"></a></div>
        <div id="menu-mobile">
            <span id="open" class="material-symbols-outlined">menu</span>
            <span id="close" class="material-symbols-outlined">close</span>

        </div>

        <nav id="menu">
            <ul>
                <li class="<%= active %>"><a href="/">Strona Główna</a></li>
                <li class="<%= active %>"><a href="/about">O nas</a></li>
                <li class="<%= active %>"><a href="/services">Usługi</a></li>
                <li class="<%= active %>"><a href="/realizations">Realizacje</a></li>
                <li class="<%= active %>"><a href="/contact" class="btn">Kontakt</a></li>
            </ul>
        </nav>
    </header>